html {
  font-family: 'Didact Gothic', 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
  padding-top: $navbar-height;
  padding-bottom: 50px;
}

body {
  font-family: 'Didact Gothic', 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
}

.logo-circle {
  opacity: 0.95;
  border: 0;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 10px;
  width: 110px;
  height: 105px;
  background-color: #f8f8f8;
}

nav {
  opacity: 0.95;
}

footer {
  opacity: 0.95;
}

.navbar-brand,
.navbar-nav li a {
  line-height: $navbar-height;
  height: $navbar-height;
  padding-top: 0;
}

.dropdown-menu li a {
  line-height: 30px;
  height: 30px;
}

