// Place all the styles related to the DerbyEvents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header:after {
  content: "-";
}

.headerSortDown:after {
  content: ' ';
  height: 0;
  width: 0;
  position: relative;
  top: -12px;
  border: 5px solid transparent;
  border-bottom-color: #000;
}

.headerSortUp:after {
  content: ' ';
  height: 0;
  width: 0;
  position: relative;
  top: 15px;
  border: 5px solid transparent;
  border-top-color: #000;
}

.glyphicon-asterisk {
  color: red;
}

.event-list {
  opacity: 0.8;
  background: #fff;
}

.index-container {
  padding-bottom: 50px;
}

#event-table tr {
  cursor: pointer;
  cursor: hand;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: image-url("skates-background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.logo-container {
  width: 75%;
  height: 50%;
  margin: auto;
  margin-top: 5px;
  background-image: image-url("w2r-1305x1305.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
